.offerserviceContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgb(241, 240, 240) 0%,
    #ffffff 100%
  ) !important;
  margin-top: 3rem;
  margin-bottom: 1rem;
  align-items: center;
  border-radius: 2rem;
}
.OfferedS {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.offerTitle {
  font-size: 2.1rem;
  color: #000;
  padding-top: 1rem;
  text-transform: uppercase;
}
.offerSubTitle {
  font-size: 1.5rem;
  color: #39b54a;
}

@media screen and (max-width: 768px) {
  .OfferedButton {
    margin-top: 1.5rem;
    padding: 0.7rem 1.4rem;
    font-size: 0.9rem;
  }

  .offerTitle{
    font-size: 1.3rem;
  }

  .offerSubTitle {
    font-size: 1.15rem;
    color: #39b54a;
  }
}

@media screen and (max-width: 1250px) {
  .OfferedS {
    display: flex;
    flex-direction: row;
  }
}
