.offerserviceContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f1f1f1;
    margin-top: 1rem;
    margin-bottom: 1rem;

    align-items: center;
    border-radius: 2rem;
}
.OfferedS{
    display: flex;
    flex-direction: row;
}
.offerTitle{
    font-size: 2.1rem;
    color: #000;
    padding-top: 1rem;
    text-transform: uppercase; 
}
.offerSubTitle{
    font-size: 1.5rem;
    color: #39b54a;

}
.OfferedButton {
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Belleza", sans-serif;
  padding: 0.8rem 1.6rem;
  background-color: #fdbd59;
  
  /* background-color: #39b54a; */

  border: none;
  border-radius: 1rem;
  color: #000;
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
  justify-content: center;
  transition: 0.5s;
}

.OfferedButton:hover {
  background-color: #39b54a;
  /* background-color: #fdbd59; */
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  
  .OfferedButton{
    margin-top: 1.5rem;
    padding: 0.7rem 1.4rem;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 1250px) {

    .OfferedS{
    display: flex;
    flex-direction: row;
}


}