.Offercard {
  width: 18vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  margin-left: 1.25rem;
  margin-top: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: white;
  text-align: center;
}

.Offercard img {
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
  transition: all 0.5s ease-in-out;
}

.Offercard img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

.OfferServiceName{
  text-decoration: none;
  color: black;
  
}

@media screen and (max-width: 900px) {
  .Offercard {
    width: 85%;
    height: 15rem;
  }
  .erimagecontainer{
    height: 10rem;
  }
  .offerimagecontainer {
    height: 8rem;
  }
  .OfferServiceName {
    padding: 0rem 1rem;
  }

  .ServiceImages {
    width: 100%;
  }
  .OfferServiceName {
    font-size: 1.1rem;
    width: 15rem;
  }
}
