.Offercard {
  width: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 2rem; */
  margin-left: 1.25rem;
  /* margin-top: 1rem; */
  padding: 1rem;
  border-radius: 1rem;
  /* background-color: white; */
  text-align: center;
}

.Offercard img {
  width: 9rem;
  object-fit: cover;
  border-radius: 1rem;
  transition: all 0.5s ease-in-out;
}

.Offercard img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

.OfferServiceName {
  margin: 1rem 1rem;
  text-decoration: none;
  color: black;
}



.erimagecontainer {
  height: 10rem;
}

@media screen and (max-width: 900px) {
  .Offercard {
    width: 90%;
    height: 18rem;
  }
  .offerimagecontainer {
    height: 10rem;
  
  }
  .Offercard>p{
    font-family: "Belleza", cursive;
    font-size: 0.9rem;
    padding: 0rem 0rem 0.5rem 0rem;
    text-decoration: none;
  }
  .OfferServiceName {
    padding: 0rem 1rem;
  }

  .ServiceImages {
    width: 100%;
  }
  .OfferServiceName {
    font-size: 1.1rem;
    width: 15rem;
  }
}