.GoSolarContainer {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    180deg,
    rgb(246, 246, 246) 0%,
    #ffffff 100%
  ) !important;
  border-radius: 1rem;
  font-family: "ABEEZEE", sans-serif;
  padding-top: 2rem;
  padding-bottom: 0rem;
}

.GoSolarSubContainer {
  display: flex;
  flex-direction: row;
  width: 66%;
  margin-left: 5.4rem;
  margin-right: 5.4rem;
}

.GoSolarLeft {
  width: 50%;
  margin: 3rem 5rem 0rem 0rem;
  transition: all 0.5s ease-in-out;
}

.GoSolarRight {
  width: 50%;
}

.PointImage {
  width: 3.15rem;
  margin: 0.5rem 1rem 1rem;
}

.PointHead {
  font-family: "ABEEZEE", sans-serif;
  font-size: 1.1rem;
  padding: 0rem 0.3rem 0.3rem;
}

.PointPara {
  font-family: "Belleza", cursive;
  font-size: 1rem;
  padding: 0rem 0.3rem 0.3rem;
}

.GoSolarFirst {
  display: flex;
  flex-direction: row;
  width: 66%;
  height: 30%;
  margin-left: 5.4rem;
  margin-right: 5.4rem;
  /* margin-top: 1.1rem; */
}

.GoFirstComp {
  width: 50%;
}
.GoFirstComp > img {
  /* height: 12%; */
  width: 82%;
}
.GoSecondComp {
  background-color: #e3e3db;
  display: flex;
  flex-direction: column;
  width: 50%;
}
.GoSecondComp > h2 {
  display: flex;
  font-size: 1.45rem;
  align-items: center;
  font-family: system-ui;
  justify-content: center;
  text-transform: uppercase;
  font-family: "abeezee", sans-serif;

  margin: 2rem 2rem 0rem;
  /* margin-top: 0%; */
}
.GoSecondComp > p {
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  font-family: "belleza", sans-serif;
  margin: 1rem 2rem 1rem;
  color: rgb(56, 52, 52);
}

.GoUnderline {
  border: 0;
  width: 18%;
  background-color: #ffdd02;
  height: 0.3em;
  border-radius: 0.3em;
  margin: 0.5rem 0rem 1.5rem;
  text-align: center;
  margin-bottom: 3.5rem;
}

@media screen and (max-width: 768px) {
  .GoSolarContainer{
    margin-top: 0rem;
  }

  .GoSolarContainer h1{
    font-size: 1.3rem;
  }

  .GoSolarFirst {
    display: none;
  }

  .GoSolarSubContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .GoSolarLeft {
    width: 97%;
    margin: 0rem 0rem 1rem 1.5rem;
    transition: all 0.5s ease-in-out;
  }

  .GoSolarRight {
    width: 100%;
    margin-top: 1rem;
  }

  .PointImage {
    width: 2.5rem;
    margin: 0.5rem 1rem 1rem 2rem;
  }

  .PointHead {
    font-family: "ABEEZEE", sans-serif;
    font-size: 1rem;
    padding: 0rem 1rem 0.3rem 0.5rem;
  }

  .PointPara {
    font-family: "Belleza", cursive;
    font-size: 0.85rem;
    padding: 0rem 2rem 0.3rem 0.5rem;
  }
}

.erimagecontainer {
  height: 10rem;
  align-items: center;
}
.Offcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
  height: 14rem;
  margin: 1.2rem;
  border-radius: 1rem;
}
