.AboutUs {
  text-align: center;
  align-items: center;
  justify-content: center;
  color: rgb(243, 243, 243);
  /* height: 50rem; */
}
.AboutUs .AboutBanner img {
  margin-top: 0rem;
  height: 30rem;
  width: 100%;
  object-fit: cover;
}

.AboutBanner {
  height: 30rem;
}

.info {
  position: absolute;
  top: 10rem;
  left: 56px;
  text-transform: capitalize;
}
.AboutUsabout {
  align-items: center;
  padding-bottom: 2rem;
}
.AboutUsabout h1 {
  font-size: 2.2rem;
  font-family: "ABEEZEE", sans-serif;
  margin-top: 5rem;
  color: rgb(37, 29, 29);
}
.AboutUsabout div {
  width: 7rem;
  height: 5px;
  background: #fbdd02;
  margin: 0.7rem auto;
}

.AboutUsabout p {
  font-family: "Belleza", sans-serif;
  color: #545454;
  font-size: 1.15rem;
  line-height: 1.4em;
  margin-top: 3rem;
  margin-left: 5rem;
  margin-right: 5rem;
  text-align: left;
}

/* //countdown */
.figures {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  justify-content: center;
}
.figures div {
  display: flex;
  flex-direction: column;
}
.figures div .span1 {
  color: #4c4a4a;
  font-size: 2rem;
}
.figures div .span2 {
  padding-top: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #4b4b4b;
  font-family: "Belleza", sans-serif;
}
/* Our Team */
.AOurTeam .Teamoh1 {
  font-size: 2.2rem;
  font-family: "ABEEZEE", sans-serif;
  margin-top: 5rem;
  color: rgb(37, 29, 29);
}
.AOurTeam .Teamline {
  width: 7rem;
  height: 5px;
  background: #fbdd02;
  margin: 0.7rem auto;
}
.ATeamCardContainer {
  padding-bottom: 2rem;
  display: flex;
}

@media screen and (max-width: 802px) {
  .ATeamCardContainer {
    flex-direction: column;
    align-items: center;
  }

  @media screen and (max-width: 768px) {
    .ATeamCardContainer {
      display: inline;
    }

    .AboutUsabout p {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }

    .figures {
      display: inline;
      margin-left: 3rem;
      margin-top: 2rem;
    }
    .figures div .span1 {
      margin-top: 1rem;
    }
    .figures div .span2 {
      margin-top: 1rem;
    }
    .AboutUsabout h1 {
      font-size: 2rem;
    }
    .AboutUsabout p {
      font-size: 1rem;
    }
    .AOurTeam .Teamoh1 {
      font-size: 2rem;
    }
    .info h1 {
      font-size: 2rem;
      margin-right: 2rem;
    }
  }
}
