.NavContainer {
  font-family: "Belleza", sans-serif;
  /* background-color: #f7f7f7; */
  background: transparent;
  position: fixed;
  display: flex;

  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
  z-index: 1;
  transition: all 0.5s ease-in-out;
  padding-top: 0.5rem;
}

.scrolled {
  padding-top: 0rem;
  background-color: #f7f7f7;
  transition: all 0.5s ease-in-out;
}

.loginbg{
  background-color: #f7f7f7;
  transition: all 0.5s ease-in-out;
}

.scrolled2 {
  color: #000;
}

/* Add a fade-in animation */
.fade-in {
  animation: fadein 0.5s ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

/* Define the animation keyframes */
@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* align log on left and links on right */

.LeftContainer {
  display: flex;
  align-items: center;
}

.Logo {
  margin-left: 0.5vmax;
  width: 4.2rem;
  cursor: pointer;
}

.LogoText {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  margin-left: 1rem;
  text-decoration: none;
}

.RightContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* on hover line animation */
@keyframes lineanimation {
  0% {
    border-bottom-width: 0%;
  }
  100% {
    border-bottom-width: 100%;
  }
}

@media screen and (max-width: 920px) {
  .NavContainer {
    flex-direction: column;
    padding: 1rem 0;
    display: none;
  }

  .LeftContainer {
    margin-bottom: 0.2rem;
  }

  .LogoText {
    margin-left: 0;
  }

  .RightContainer {
    flex-direction: column;
  }
}
