.banner-form2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin-top: 2rem;
  margin: auto;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  padding: 0.8rem;
  /* padding-top: 14vh; */
}
.BannerForm2Contaier {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 60rem;
  top: -50em;
  width: 15vw;
  
}
.BannerForm2AboutContaier {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 60rem;
  top: 3em;

  width: 15vw;
  height: 4rem;
}

.banner-form2-heading {
  /* font-size: 1.5rem; */
  font-size: 4.5vh;

  margin: 1rem 0.5rem 2rem 0.5rem;
}

.banner-form2-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 4vh;
  width: 100%;
}

.banner-form2-field label {
  /* font-size: 0.8rem; */
  font-size: 2.4vh;
  margin-bottom: 0.5rem;
}
.banner-form-checkbox label {
  display: flex;
  align-items: flex-start;
}
.banner-form-checkbox label > span {
  /* font-size: 0.6rem; */
  font-size: 1.8vh;
}

input[type="checkbox"] {
  transform: scale(0.95);
  margin-right: 2vw;
}
.BannerForm2-headingsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.banner-form2-field input,
.banner-form2-field select {
  /* font-size: 0.8rem; */
  font-size: 2.4vh;
  /* padding: 0.9rem; */
  padding:2.7vh;
  /* border: 1px solid #ccc; */
  /* background: transparent; */
  background-color: rgb(172, 172, 172);
  border: none;
  color: rgb(247, 247, 247);
  outline: none;
  border-bottom: 1px solid gray;

  border-radius: 0.5rem;
  font-weight: 600;
  width: 100%;
  max-width: 30rem;
}

.banner-form-field input:focus,
.banner-form-field select:focus {
  outline: none;
  border-color: #66afe9;
  box-shadow: 0 0 5px #66afe9;
}

.banner-form2-submit-button {
  /* font-size: 0.8rem; */
  font-size: 2.4vh;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #fbdd02;
  color: #000000;
  cursor: pointer;
  margin: 1rem 0.5rem 1rem 0.5rem;
  transition: all 0.3s ease-in-out;
}
.banner-form2-submit-button:hover {
  background-color: #3ab54b;
}
.BannerFormHomeContaier {
  display: none;
}
.BannerFormAboutContaier{
  display: flex;
    flex-direction: column;
    position: absolute;
    left: 0.01rem;
    
    top: 10.60rem;

}
@media screen and (max-width: 768px) {
  .BannerFormHomeContaier {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0.01rem;
    
    top: 2.60rem;
  }
  .BannerFormAboutContaier{
    display: none;
  }
}
