.MobileFooter {
  display: none;
}

@media screen and (max-width: 620px) {
  .MobileFooter {
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 0rem;
    z-index: 10000;
    width: 100%;
  }
  .MobileFootContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #f7f7f7;
    padding: 0.5rem 1rem;
  }
  .MobileFootIcon {
    font-size: 1.8rem;
    color: rgb(169, 167, 167);
    margin: 0.5rem 1rem 0.5rem 1rem;
  }
  .MobileFootIcon:hover {
    color: #1deb77;
  }
}
