@media screen and (max-width: 768px) {
  .MobileFooterConainer {
    font-family: "Belleza", sans-serif;
    background-color: #f7f7f7;
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    z-index: 1;
    transition: 1s all ease;
  }
}
