.WhatContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(
    180deg,
    rgb(247, 247, 247) 0%,
    #ffffff 100%
  ) !important;
  box-sizing: border-box;
  border-radius: 2rem;
  margin-top: 1rem;
  padding-top: 1.5rem;
}

h1 {
  text-transform: capitalize;
  font-size: 2.1rem;
}

.WhatContainerCard {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 2rem;
  padding-top: 1rem;
}

.Underline2 {
  border-top: #ffdd02;
  order: 0;
  width: 100%;
  background-color: #ffdd02;
  height: 0.3em;
  border-radius: 0.3em;
  margin: 0.5rem 0rem 0rem;
  text-align: center;
}

@media screen and (max-width: 1000px) {

  .WhatContainer {
    margin-top: 2rem;
  }

  .WhatContainerCard {
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 1.3rem;
  }
  .underline2 {
    width: 50% !important;
    margin-top: 0rem;
  }
}
